.card-explore {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.explore-title {

  padding-top: 90px;
  padding-bottom: 90px;
  font-weight: bold;
  font-size: 70px;
  text-shadow: white;
  color: $petro-blue;
  margin-top: -35px;
  // background-color: white;
}

.banner-challenges-content {

}

.banner-challenges {
  padding-bottom: 25px;
  padding-top: 25px;
  background-image: url(asset_path("arrows.jpg"));
}

.shadow-explore {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 50%);
}

input.upload {
  color: blue;
}
