.card-explore {
  padding-top: 20px;
  padding-bottom: 20px;
}

.explore-title {

  padding-top: 90px;
  padding-bottom: 90px;
  font-weight: bold;
  font-size: 70px;
  text-shadow: white;
  color: $petro-blue;
  // background-color: white;
}

.banner-challenges-content {
  background-image: url(asset_path("arrows.jpg"));
}

.banner-challenges {
  padding-bottom: 25px;
}
