.dashboard {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $petro-blue;
}

.card-dashboard {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $petro-blue;
}

#on-going-challenge {
  border-right: 3px solid yellow;
  border-left: 3px solid yellow;
}

.challenge-status-section {
  background-color: #7CFAFF;
  padding-bottom: 15px;
  padding-top: 15px;
}

.tabs-dashboard {
  padding-top: 15px;
}
