/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-text {
  padding-top: 15px;
  color: $petro-blue;
}

.fa-heart {
  font-size: 25px;
  color: red;
}

.fa-search {
  font-size: 21px;
}

// .btn-explore {
//   background-color: green;
// }
