/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-text {
  padding-top: 15px;
  color: #72B7CF;
}

.fa-heart {
  font-size: 25px;
  color: $red;
}

.hr-line {
  border-top: 1px solid black;
  margin-bottom: 25px;
}

.home-title-type {
  font-weight: lighter;
  color: $petro-blue ;
}

.wrapper-cards-self {
  margin-top: 5px;
}
