<div class='banner'>
  <div class='container'>
    <div class='banner_content'>
      <div>
        <h1>ChallengeAccepted</h1>
        <p>Challenge your friends. Motivate each other.</p>
        <%=link_to 'Start a challenge', new_challenge_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>


