<div class='banner banner-home'>
  <div class="shadow"></div>
  <div class='container'>
    <div class='banner_content'>
      <div>
        <h1>Challenge your friends</h1>
        <p><strong>Motivate each other :)</strong></p>
        <%=link_to 'Start a challenge', new_challenge_path, class: "btn btn-lg" %>
      </div>
    </div>
  </div>
</div>


