/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Typography
h1, .h1 {
  font-size: 36px;
}

// Generic
html, body {
  height: 100%;
}

a {
  transition: all linear 200ms;
  &:hover {
    text-decoration: none;
  }
}

.page-wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 145px;
}
.page-wrap:after {
  content: "";
  display: block;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.form-space-bottom {
  margin-bottom: 15px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-main-blue {
  background-color: $main-blue;
}
.bg-white {
  background-color: white;
}
.bg-light-gray {
  background-color: #F7F7FF;
}

.bg-main-blue h1, .bg-main-blue .h1,
.bg-main-blue label {
  color: white;
}

.bg-main-blue .form-control,
.bg-main-blue .input-group-addon {
  border: none;
}

.bg-main-blue input.form-control {
  height: 45px;
}

.bg-main-blue .input-group-addon {
  color: $dark-gray;
}

// bottom-links
.bottom-links {
  margin-top: 15px;
}

body {
  padding-top: 70px;
}

.title_invite{
  margin-top: 90px;
}

.invite_field{
  margin-top: 65px;
}


.img-with-text {
    text-align: justify;
}

.image_profile {
    display: block;
    margin: 0 auto;
  }

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);

}
