/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Typography
h1, .h1 {
    font-size: 36px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.form-space-bottom {
  margin-bottom: 15px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-main-blue {
  background-color: $main-blue;
}

.bg-main-blue h1, .bg-main-blue .h1,
.bg-main-blue label {
  color: white;
}

.bg-main-blue .form-control,
.bg-main-blue .input-group-addon {
  border: none;
}

.bg-main-blue input.form-control {
  height: 45px;
}

.bg-main-blue .input-group-addon {
  color: $dark-gray;
}

// bottom-links
.bottom-links {
  margin-top: 15px;
}
