<h1>Hi!</h1>

<p>
  Your friend are inviting you to our great Challenge called <strong><%= @challenge.title %></strong>!!!!

  Click <%= link_to 'Here', challenge_url(@challenge.id) %> to participate right now!

  Regargs.
</p>
