<p class="text-center"><%= @challenge.description %></p>
<p class="text-center"><strong>Rules:</strong></p>
<p class="text-center"><%= @challenge.rules %></p>
<p class="text-center"><strong>At Stake:</strong></p>
<p class="text-center"><%= @challenge.at_stake %></p>

