<table class="table">
  <tr><td class="text-center"><strong>About</strong></td></tr>
  <tr><td><%= @challenge.description %></td></tr>
  <tr><td class="text-center"><strong>Rules</strong></td></tr>
  <tr><td><%= @challenge.rules %></td></tr>
</table>
