<div class="wrapper-action-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <% if !signed_in? %>
          <p>You're not logged... :(</p>
        <% elsif @status_days_to_finish.to_i >= 100 %>

        <% elsif (Member.where(user_id: current_user.id, challenge_id: @challenge.id).empty?) && (@challenge.invites.where(guest_email: current_user.email)).empty? && current_user.id != @challenge.owner.id %>
          <p>You're not invited... :(</p>
          <%= link_to "Request to join", challenge_request_invite_path(@challenge), method: :post,
                      class:'btn btn-success' %>
        <% else %>
          <% if @challenge.users.where(id: current_user.id).empty?%>
            <%= button_to "Accept Challenge", challenge_members_path(@challenge), method: :post, class: 'btn btn-lg btn-success btn-block'%>
          <% else %>
            <%= link_to "Invite friends", invite_challenge_path, :class => "btn btn-lg btn-success btn-block"  %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
