<div class="wrapper-action-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
      <% raise %>
        <% if !signed_in? %>
          <p>You're not logged... :(</p>
        <% else %>
          <% if Member.where(user_id: current_user.id, challenge_id: @challenge.id).empty? %>
            <p>You're not invited... :(</p>
            <%= link_to "Request to join", challenge_request_invite_path(@challenge), method: :post,
                        class:'btn btn-success' if @status_percentage.to_i < 100 %>
          <% else %>
            <%= link_to "Invite friends", invite_challenge_path, :class => "btn btn-lg btn-success btn-block" if @status_percentage.to_i < 100 %>
            <%= link_to "It is time to vote", voting_challenge_path(@challenge.id), :class => "btn btn-lg btn-warning btn-block" if @status_percentage.to_i >= 100 %>
          <% end %>

        <% end %>

          <% if @challenge.users.where(id: current_user.id).empty?%>
            <%= button_to "Accept Challenge", challenge_members_path(@challenge), method: :post, class: 'btn btn-lg btn-success btn-block'%>

      </div>
    </div>
  </div>
</div>
