<div class="wrapper-action-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <% if (@challenge.invites.where(guest_email: current_user.email)).empty? && current_user.id != @challenge.owner.id %>
          <p>You're not invited... :(</p>
          <% if signed_in? %>
            <%= link_to "Request your invitation", challenge_invite_request_path(@challenge), method: :post,
                        class:'btn btn-success' %>
          <% end %>
        <% else %>
          <% if @challenge.users.where(id: current_user.id).empty?%>
            <%= button_to "Accept Challenge", challenge_members_path(@challenge), method: :post, class: 'btn btn-lg btn-success btn-block'%>
          <% else %>
            <%= link_to "Invite friends", invite_challenge_path, :class => "btn btn-lg btn-success btn-block"  %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
