<div class="cotainer">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <% @members.each do |member| %>
          <% if member.challenge_id == @challenge.id %>
            <%= generate_profile_image(member.user) %>
            <%= member.user.name %>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
