<div id="messages">
  <% if @challenge_messages.blank? %>
    The trash talk in <%= @challenge.title %> starts here.
  <% else %>
    <% @challenge_messages.each do |message| %>
      <%= render 'challenge_messages/show', message: message %>
    <% end %>
  <% end %>
</div>
<%= render 'challenge_messages/form' %>
