<div class="row tabs">
  <input type="button" id="about"    class="tab col-xs-6 col-sm-3 col-sm-offset-3" value="about">
  <input type="button" id="cooments" class="tab col-xs-6 col-sm-3 active" value="messages">
</div>

<div class="tab-about tab-invisible">
  <%= render 'about' %>
</div>
<div class="tab-messages">
  <% unless @challenge.users.where(id: current_user.id).empty? %>
    <%= render 'messages' %>
  <% else %>
    <p>Not allowed</p>
  <% end %>
</div>
