<div class="row tabs">
  <input type="button" id="about"    class="tab col-xs-6 col-sm-3 active" value="About">
  <input type="button" id="cooments" class="tab col-xs-6 col-sm-3" value="Comments">
</div>

<div class="tab-item">
  <%= render 'messages' %>
</div>
