

<div class="row tabs">
  <input type="button" id="about"    class="tab col-xs-6 col-sm-3 col-sm-offset-3" value="about">
  <input type="button" id="cooments" class="tab col-xs-6 col-sm-3 active" value="trash talk">
</div>

<div class="tab-about tab-invisible">
  <%= render 'about' %>
</div>
<div class="tab-messages">
  <%= render 'messages' %>
</div>
