<div class="row tabs">
  <input type="button" id="about"    class="tab col-xs-6 col-sm-3 active" value="About">
  <input type="button" id="cooments" class="tab col-xs-6 col-sm-3" value="Comments">
</div>

<div class="tab-item">
  aaaaaa
  <%#= render 'form' %>
</div>
<div class="tab-item">
  bbbbbb
  <%#= render 'form' %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(".tab").click(function() {
      $(".tab").removeClass( "active" );
      $(this).addClass( "active" );
    });
  <% end %>
<% end %>
