<div class="banner banner-show">
  <div class="banner-content">
    <div class="title_show text-center">
     <h1><%= @challenge.title %></h1>
    </div>
    <a class="btn btn-primary btn-lg">Status</a>
  </div>
</div>
