<div class="banner banner-show">
  <div class="banner-content">
    <div class="title_show text-center">
     <h1><%= @challenge.title %></h1>
    </div>
    <%= link_to "Invite friends", invite_challenge_path, :class => "btn btn-primary btn-lg"  %>
    <!--<a class="btn btn-primary btn-lg">Status</a>-->
  </div>
</div>
<div class="container">
  <%= render 'tabs' %>
</div>
