<div class="container">
  <h3 class="text-center">Voting time!</h3>
  <% @members.where(challenge_id: @challenge.id).each do |member| %>
    <div class ="col-sm-2 photo-margin text-center">
      <%= link_to (generate_profile_photo(member.user)), send_vote_challenge_path(@challenge, voted_user_id: member.user.id, member_id: member.id), data: { confirm: "Vote to #{member.user.name}?" } %>
      <br><%= member.user.name %>
    </div>
  <%end%>
</div>
