.wrapper-cards {
  padding: 30px 0;
}

.card {
  margin-bottom: 30px;
  background-color: $petro-blue;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  .card-picture {
    overflow: hidden;
    height: 150px;
    position: relative;
    img {
      max-width: 100%;
      background-color: #9BBFD7;
    }
    .gradient {
      position: absolute;
      top: 0;
      background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
      display: block;
      height: 100%;
      width: 100%;
    }
    .card-title {
      position: absolute;
      bottom: 0;
      padding: 5px 15px;
      h2 {
        color: white;
        font-size: 1.2em;
        font-weight: 700;
      }
    }
    .card-category {
      font-size: 0.8em;
      color: white;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0,0,0,0.4);
      padding: 3px 5px;
    }
  }
  .card-desc {
    font-size: 0.8em;
    // height: 62px;
    overflow: hidden;
    margin: 5px 0;
    color: white;
  }
  .btn {
    display: block;
  }
}
.card-link {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
   text-indent: -9999px;
 }

 .first-letter {
  color: $petro-blue;
  font-size: 35px;
  font-weight: light;
 }
