.tabs {
  display: flex;
  padding: 15px 10px 20px 10px;
}

.tab {
  background: #72B8D0;
  text-align: center;
  padding: 15px 0;
  color: white;
  border: none;
}

.tab:hover{
  background-color: grey;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}

.tab.active {
  background: $petro-blue;
}

.tab-invisible {
  display: none;
}

#messages{
  height: 270px;
  overflow-y: auto;
}

.tab-container{
  height: 400px;
  background-color: #F7F7F7;
}
